.ruleactiontarget[type="filtaquilla@mesquilla.com#subjectAppend"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-forwardto");
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#subjectSuffix"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-forwardto");
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#removeTag"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-tag");
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#copyAsRead"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#moveLater"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#launchFile"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#launchPicker");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#runFile"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#runPicker");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#addSender"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#abPicker");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#saveAttachment"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#directoryPicker");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#detachAttachments"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#directoryPicker");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#javascriptAction"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#javascriptAction");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#javascriptActionBody"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#javascriptAction");
  -moz-box-flex: 1;
}

.ruleactiontarget[type="filtaquilla@mesquilla.com#saveMessageAsFile"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#directoryPicker");
  -moz-box-flex: 1;
}

toolbarbutton.focusbutton {
  -moz-user-focus: normal;
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#subjectRegex"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#textbox");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#attachmentRegex"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#textbox");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#headerRegex"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#textbox");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#javascript"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#javascript");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#searchBcc"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#textbox");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#folderName"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#textbox");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#threadheadtag"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#tag");
}

.search-value-custom[searchAttribute="filtaquilla@mesquilla.com#threadanytag"] {
  -moz-binding: url("chrome://filtaquilla/content/bindings.xml#tag");
}
